<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>Log In Action </servlet-name>
        <servlet-class>com.falcon.web.ActionLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Log In Action </servlet-name>
        <url-pattern>/LoggedIn</url-pattern>
    </servlet-mapping>
    <display-name>Online Quiz Portal</display-name>
    <description>
        Online Examination Management System - Varun Singh
    </description>
</web-app>
